body {
    margin: 0;
    color: white;

}

.container {
    width: 400px;
    height: 200px;
    margin-left: 100px;
    margin-top: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #003262;
    border-radius: 15px;
    border-color: whitesmoke;
    
}
.mgn-home{
    margin-bottom: 5px;
}

.score-area{
    font-size: 35px;
    width: 90px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #1B1B1B;
    color: #C51E3A;
    border-radius: 5px;
}

.score-amount{
    margin-bottom: 40px;
    
}

.btn{
    padding: 8px 8px 8px 8px;
    margin: 0 3px;
    background-color: #003262;
    color: white;
    border-color: white;
    border-radius: 5px;
}

